.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 65px 15px 83px 23px;
  width: 305px;
  background-color: $white;
}

.mobile-menu__close-button {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #a0a0a0; 
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.mobile-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 24px;
}

.mobile-menu__link {
  color: $black;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    color: $accent;
  }
}

.mobile-menu__callback-button {
  margin-top: 31px;
  width: 100%;
}

.mobile-menu__language-select {
  margin-top: 45px;
}

.mobile-menu__contacts {
  margin-top: 25px;
}

.mobile-menu__socials {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
 .mobile-menu__callback-button {
    display: none;
  } 
}
