.button {
  padding: 9px 11px;
  min-width: 182px;
  background-color: #019ec4;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}