  .contacts__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none; 
  }

  .contacts__item {
    padding-left: 25px;
  }

  .contacts__item:not(:first-child) {
    margin-top: 27px;
  }

  .contacts__link {
    position: relative;
    color: #5a5a5a;
    font-size: 14px;
    letter-spacing: 0.2px;
    outline: none;
  }

  .contacts__link:hover,
  .contacts__link:focus {
    color: #019ec4;
  }

  .contacts__link::before {
    content: "";
    position: absolute;
  }

  .contacts__link--email::before {
    top: 4px;
    left: -25px;
    width: 16px;
    height: 11px;
    background-image: url("img/mail.svg");
  }

  .contacts__link--phone::before {
    left: -23px;
    width: 16px;
    height: 16px;
    background-image: url("img/phone.svg");
  }

@media (min-width: $desktop-width) {
  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__item {
    margin-left: 66px;
  }
}