.language {
  padding-left: 27px;
}

.language__heading {
  margin: 0;
  color: #b0b0b0;
  font-size: 12px;
  font-weight: 400;
}

// @media (min-width: 1500px) {
  .language__select-wrapper {
    position: relative;
  }

  .language__select-wrapper::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -27px;
    width: 16px;
    height: 16px;
    background-image: url("img/globe.svg");
    background-repeat: no-repeat;
  }

  .language__select {
    width: 150px;
    border: none;
    border-bottom: 1px dotted #44adcc;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .language__select:hover,
  .language__select:focus {
    color: #019ec4;
  }

  .language__option:hover {
    color: #019ec4;
  }
// }
