@media (min-width: 1500px) {
  .slogan__text {
    position: relative;
    margin: 0;
    padding-left: 27px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  .slogan__text::before {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 14px;
    background-image: url("img/heart.svg");
    background-size: contain;
  }
}